{% extends "../layouts/_base.twig" %}

{% set page = 'Blog' %}

{% block content %}
  <section class="hero hero_tight hero_reverse hero_small wrapper">
    {% include '../partials/_header.twig' %}

    <div class="hero__body">
      <div class="hero__text">
        <span class="caps caps_regular hero__caption">Featured article</span>

        <h1 class="heading_xxl heading_heavy">
          How COVID-19 changed our outlook on helping from a distance.
        </h1>

        <button 
          type="button"
          class="button button_medium button_primary hero__button" 
        >
          Read
        </button>
      </div>

      <img 
        src="img/hero/hero-small.png" 
        alt="hero image" 
        class="hero__image"
        width="502"
        height="502"
      />
    </div>
  </section>

  <section class="collection wrapper">
    <header class="header collection__header">

      <h2 class="heading_xxl heading_heavy header__heading">All posts</h2>
    </header>

    <div class="collection__container">
      <div class="card">
        <img 
          src="img/cards/card-image-4.png"
          alt="card image"
          class="card__image"
          width="289"
          height="217"
        >

        <div class="card__text">
          <h3 class="caps caps_heavy card__heading">
            Blog
          </h3>

          <h4 class="heading_sm heading_heavy">
            Blog Title
          </h4>

          <p class="paragraph_sm paragraph_regular card__paragraph">
            Sagittis, eu pretium massa quisque cursus augue massa cursus. Sed quisque velit,
            auctor at lobortis hac tincidunt sodales id. Elit interdum vel nisi, in enim sagittis at.
            Netus sagittis eleifend aliquet urna quis.
          </p>

          <div class="card__buttons">
            <div class="card__button-group">
              <button  
                type="button" 
                class="button button_small button_primary card__button"
              >
                  read now
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-5.png"
          alt="card image"
          class="card__image"
          width="289"
          height="217"
        >

        <div class="card__text">
          <h3 class="caps caps_heavy card__heading">
            Blog
          </h3>

          <h4 class="heading_sm heading_heavy">
            Blog Title
          </h4>

          <p class="paragraph_sm paragraph_regular card__paragraph">
            Sagittis, eu pretium massa quisque cursus augue massa cursus. Sed quisque velit,
            auctor at lobortis hac tincidunt sodales id. Elit interdum vel nisi, in enim sagittis at.
            Netus sagittis eleifend aliquet urna quis.
          </p>

          <div class="card__buttons">
            <div class="card__button-group">
              <button  
                type="button" 
                class="button button_small button_primary card__button"
              >
                  read now
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-6.png"
          alt="card image"
          class="card__image"
          width="289"
          height="217"
        >

        <div class="card__text">
          <h3 class="caps caps_heavy card__heading">
            Blog
          </h3>

          <h4 class="heading_sm heading_heavy">
            Blog Title
          </h4>

          <p class="paragraph_sm paragraph_regular card__paragraph">
            Sagittis, eu pretium massa quisque cursus augue massa cursus. Sed quisque velit,
            auctor at lobortis hac tincidunt sodales id. Elit interdum vel nisi, in enim sagittis at.
            Netus sagittis eleifend aliquet urna quis.
          </p>

          <div class="card__buttons">
            <div class="card__button-group">
              <button  
                type="button" 
                class="button button_small button_primary card__button"
              >
                  read now
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-13.png"
          alt="card image"
          class="card__image"
          width="289"
          height="217"
        >

        <div class="card__text">
          <h3 class="caps caps_heavy card__heading">
            Blog
          </h3>

          <h4 class="heading_sm heading_heavy">
            Blog Title
          </h4>

          <p class="paragraph_sm paragraph_regular card__paragraph">
            Sagittis, eu pretium massa quisque cursus augue massa cursus. Sed quisque velit,
            auctor at lobortis hac tincidunt sodales id. Elit interdum vel nisi, in enim sagittis at.
            Netus sagittis eleifend aliquet urna quis.
          </p>

          <div class="card__buttons">
            <div class="card__button-group">
              <button  
                type="button" 
                class="button button_small button_primary card__button"
              >
                  read now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collection__container collection__container_double">
      <div class="card">
        <img 
          src="img/cards/card-image-4.png"
          alt="card image"
          class="card__image"
          width="289"
          height="217"
        >

        <div class="card__text">
          <h3 class="caps caps_heavy card__heading">
            Blog
          </h3>

          <h4 class="heading_sm heading_heavy">
            Blog Title
          </h4>

          <p class="paragraph_sm paragraph_regular card__paragraph">
            Sagittis, eu pretium massa quisque cursus augue massa cursus. Sed quisque velit,
            auctor at lobortis hac tincidunt sodales id. Elit interdum vel nisi, in enim sagittis at.
            Netus sagittis eleifend aliquet urna quis.
          </p>

          <div class="card__buttons">
            <div class="card__button-group">
              <button  
                type="button" 
                class="button button_small button_primary card__button"
              >
                  read now
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-5.png"
          alt="card image"
          class="card__image"
          width="289"
          height="217"
        >

        <div class="card__text">
          <h3 class="caps caps_heavy card__heading">
            Blog
          </h3>

          <h4 class="heading_sm heading_heavy">
            Blog Title
          </h4>

          <p class="paragraph_sm paragraph_regular card__paragraph">
            Sagittis, eu pretium massa quisque cursus augue massa cursus. Sed quisque velit,
            auctor at lobortis hac tincidunt sodales id. Elit interdum vel nisi, in enim sagittis at.
            Netus sagittis eleifend aliquet urna quis.
          </p>

          <div class="card__buttons">
            <div class="card__button-group">
              <button  
                type="button" 
                class="button button_small button_primary card__button"
              >
                  read now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-group collection__carousel-group">
      <button
        type="button" 
        class="button button_square button_small button_primary button_rounded carousel__button carousel__button_left"
      >
        <i class="button__icon fa-solid fa-arrow-left"></i>
      </button>

      <button
        type="button" 
        class="button button_square button_small button_primary button_rounded carousel__button carousel__button_right"
      >
        <i class="button__icon fa-solid fa-arrow-right"></i>
      </button>
    </div> 
  </section>

  <section class="offer wrapper">
    <div class="offer__container">
      <h2 class="heading_xl heading_heavy offer__heading">
        Ready to make a difference in the lives of emerging adults?
      </h2>

      <div class="offer__buttons">
        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Get involved
        </button>

        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Donate
        </button>
      </div>
    </div>
  </section>
{% endblock %}
   