{% extends "../layouts/_base.twig" %}

{% set page = 'Events' %}

{% block content %}

  {% include '../partials/_header.twig' %}

  <section class="container">
    <header class="header">
      <h1 class="display_small heading_heavy header__heading">Upcoming <span class="header__underline">Events</span></h1>
    </header>

    <div class="event">
      <a 
        href="#" 
        class="tag tag_secondary"
      >
        Event type
      </a>

      <h2 class="heading_xl heading_heavy event__heading">
        Upcoming Event
      </h2>

      <a 
        href="#"
        class="link link_large link_primary link_underlined event__link"
      >
        Medium hover
      </a>

      <div class="event__card">
        <span class="caps caps_heavy">dec</span>

        <span class="heading_large heading_heavy event__date">31</span>
      </div>
    </div>

    <div class="event">
      <a 
        href="#" 
        class="tag tag_secondary"
      >
        Event type
      </a>

      <h2 class="heading_xl heading_heavy event__heading">
        Upcoming Event
      </h2>

      <a 
        href="#"
        class="link link_large link_primary link_underlined event__link"
      >
        Medium hover
      </a>

      <div class="event__card">
        <span class="caps caps_heavy">dec</span>

        <span class="heading_large heading_heavy event__date">31</span>
      </div>
    </div>

    <div class="event">
      <a 
        href="#" 
        class="tag tag_secondary"
      >
        Event type
      </a>

      <h2 class="heading_xl heading_heavy event__heading">
        Upcoming Event
      </h2>

      <a 
        href="#"
        class="link link_large link_primary link_underlined event__link"
      >
        Medium hover
      </a>

      <div class="event__card">
        <span class="caps caps_heavy">dec</span>

        <span class="heading_large heading_heavy event__date">31</span>
      </div>
    </div>

    <div class="event">
      <a 
        href="#" 
        class="tag tag_secondary"
      >
        Event type
      </a>

      <h2 class="heading_xl heading_heavy event__heading">
        Upcoming Event
      </h2>

      <a 
        href="#"
        class="link link_large link_primary link_underlined event__link"
      >
        Medium hover
      </a>

      <div class="event__card">
        <span class="caps caps_heavy">dec</span>

        <span class="heading_large heading_heavy event__date">31</span>
      </div>
    </div>
  </section>
{% endblock %}
   