{% extends "../layouts/_base.twig" %}

{% set page = 'Limitless' %}

{% block content %}
  
  {% include '../partials/_header.twig' %}

  <section class="collection wrapper">
    <header class="header collection__header">

      <h1 class="heading_xxl heading_heavy header__heading">All Products</h1>
    </header>

    <div class="collection__container">
      <div class="card card_commercial">
        <div class="card__container">
          <img 
            src="img/cards/card-image-14.png"
            alt="card image"
            width="386"
            height="386"
          >

          <form action="./shop.html">
            <button  
              type="submit" 
              class="button button_medium button_primary card__button"
            >
                quick view
            </button>
          </form>
        </div>

        <div class="card__text">
          <h2 class="heading_large heading_heavy">
            Mens Limitless T-Shirt
          </h2>

          <span class="card__price">$19.99</span>
          <span class="card__price card__price_old">$24.99</span>
        </div>
      </div>

      <div class="card card_commercial">
        <div class="card__container">
          <img 
            src="img/cards/card-image-14.png"
            alt="card image"
            width="386"
            height="386"
          >

          <form action="./shop.html">
            <button  
              type="submit" 
              class="button button_medium button_primary card__button"
            >
                quick view
            </button>
          </form>
        </div>

        <div class="card__text">
          <h2 class="heading_large heading_heavy">
            Mens Limitless T-Shirt
          </h2>

          <span class="card__price">$19.99</span>
          <span class="card__price card__price_old">$24.99</span>
        </div>
      </div>

      <div class="card card_commercial">
        <div class="card__container">
          <img 
            src="img/cards/card-image-14.png"
            alt="card image"
            width="386"
            height="386"
          >

          <form action="./shop.html">
            <button  
              type="submit" 
              class="button button_medium button_primary card__button"
            >
                quick view
            </button>
          </form>
        </div>

        <div class="card__text">
          <h2 class="heading_large heading_heavy">
            Mens Limitless T-Shirt
          </h2>

          <span class="card__price">$19.99</span>
          <span class="card__price card__price_old">$24.99</span>
        </div>
      </div>
    </div> 
  </section>
{% endblock %}
   