{% extends "../layouts/_base.twig" %}

{% set page = 'Our team' %}

{% block content %}
  <section class="hero hero_cutted wrapper">
    {% include '../partials/_header.twig' %}

    <div class="hero__body">
      <div class="hero__text">
        <span class="caps caps_heavy hero__caption">Our Team</span>

        <h1 class="heading_xxl heading_heavy hero__heading">
          Meet the people who make it happen.
        </h1>
      </div>

      <img 
        src="img/hero/hero-2.png" 
        alt="hero image" 
        class="hero__image"
        width="846"
        height="630"
      />
    </div>

    <a href="#" class="scroll-button hero__scroll">
      <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />

      <span class="scroll-button__text">
        Scroll
      </span>
    </a>
  </section>

  <section class="collection collection_rounded wrapper">
    <header class="header collection__header">

      <h2 class="display_small heading_heavy header__heading">We're stronger <span class="header__underline">together</span></h2>

      <p class="paragraph_base paragraph_regular header__text">
        Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
        sem adipiscing risus pulvinar non sed nullam id integer. 
        Integer quis porttitor mauris arcu, pretium orci quam. 
        Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 

      </p> 
    </header>

    <div class="collection__container">
      <div class="card">
        <img 
          src="img/cards/card-image-9.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Dianne Russell
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-10.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Leslie Alexander
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-11.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Esther Howard
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-12.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Jacob Jones
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>
    </div>

    <div class="collection__container collection__container_triple">
      <div class="card">
        <img 
          src="img/cards/card-image-9.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Dianne Russell
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-10.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Leslie Alexander
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>

      <div class="card">
        <img 
          src="img/cards/card-image-12.png"
          alt="card image"
          class="card__image collection__image"
          width="255"
          height="255"
        >

        <div class="card__text collection__text">
          <h3 class="heading_large heading_heavy collection__heading">
            Jacob Jones
          </h3>

          <p class="paragraph_base paragraph_regular card__paragraph collection__paragraph">
            Tortor sit nisl purus nunc massa diam velit hac in. Nisl,
            sem adipiscing risus pulvinar non sed nullam id integer. 
            Integer quis porttitor mauris arcu, pretium orci quam. 
            Enim cursus mattis nunc aliquam pharetra feugiat ante sollicitudin. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="offer wrapper">
    <div class="offer__container">
      <h2 class="heading_xl heading_heavy offer__heading">
        Ready to make a difference in the lives of emerging adults?
      </h2>

      <div class="offer__buttons">
        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          see job openings
        </button>

        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Donate
        </button>
      </div>
    </div>
  </section>
{% endblock %}
   