{% extends "../layouts/_base.twig" %}

{% set page = 'Our mission' %}

{% block content %}
  {% include '../partials/_header.twig' %}

  <section class="section section_default">
    <div class="section__text">
      <a class="caps caps_regular section__description">
        our mission
      </a>

      <h2 class="display_small heading_heavy section__heading">
        We exist for <br>your success. 
      </h2>

      <p class="paragraph_base paragraph_heavy section__paragraph">
        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
        eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et 
        justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
      </p>

      <a href="#" class="scroll-button section__scroll">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />

        <span class="scroll-button__text">
          Read Why
        </span>
      </a>
    </div>

    <img 
      src="img/section/section-2.png"
      alt="section image"
      class="section__image"
      width="700"
      height="700"
    >
  </section>

  <section class="section section_default">
    <div class="section__text">
      <a href="#" class="scroll-button section__scroll section__scroll_top">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>

      <a class="caps caps_regular section__description">
        What we do
      </a>

      <h2 class="display_small heading_heavy section__heading">
        Help young <br>adults 
      </h2>

      <p class="paragraph_base paragraph_heavy section__paragraph">
        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
        eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et 
        justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
      </p>

      <a href="#" class="scroll-button section__scroll">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>
    </div>

    <img 
      src="img/section/section-3.png"
      alt="section image"
      class="section__image"
      width="700"
      height="700"
    >
  </section>

  <section class="section section_default">
    <div class="section__text">
      <a href="#" class="scroll-button section__scroll section__scroll_top">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>

      <a class="caps caps_regular section__description">
        How we do it
      </a>

      <h1 class="display_small heading_heavy section__heading">
        Mentorship, Support, Programs
      </h1>

      <p class="paragraph_base paragraph_heavy section__paragraph">
        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
        eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et 
        justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
      </p>

      <a href="#" class="scroll-button section__scroll">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>
    </div>

    <img 
      src="img/section/section-4.png"
      alt="section image"
      class="section__image"
      width="700"
      height="700"
    >
  </section>

  <section class="section section_default">
    <div class="section__text">
      <a href="#" class="scroll-button section__scroll section__scroll_top">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>

      <a class="caps caps_regular section__description">
        Why we do it
      </a>

      <h2 class="display_small heading_heavy section__heading">
        Because we believe
      </h2>

      <p class="paragraph_base paragraph_heavy section__paragraph">
        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
        eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et 
        justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
      </p>

      <a href="#" class="scroll-button section__scroll">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>
    </div>

    <img 
      src="img/section/section-5.png"
      alt="section image"
      class="section__image"
      width="700"
      height="700"
    >
  </section>

  <section class="section section_default">
    <div class="section__text">
      <a href="#" class="scroll-button section__scroll section__scroll_top">
        <img src="img/icons/scroll-button.svg" alt="scroll button" class="scroll-button__icon" />
      </a>

      <a class="caps caps_regular section__description">
        How we can help
      </a>

      <h2 class="display_small heading_heavy section__heading">
        Get Involved
      </h2>

      <p class="paragraph_base paragraph_heavy section__paragraph">
        We exist for your success
      </p>
    </div>

    <img 
      src="img/section/section-6.png"
      alt="section image"
      class="section__image"
      width="700"
      height="700"
    >
  </section>

  <section class="offer wrapper">
    <div class="offer__container">
      <h2 class="heading_xl heading_heavy offer__heading">
        Ready to make a difference in the lives of emerging adults?
      </h2>

      <div class="offer__buttons">
        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Get involved
        </button>

        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Donate
        </button>
      </div>
    </div>
  </section>
{% endblock %}
   