{% extends "../layouts/_base.twig" %}

{% set page = 'Story' %}

{% block content %}
  {% include '../partials/_header.twig' %}

  <section class="presentation">
    <div class="presentation__section divider_lower presentation__divider">
      <div class="caps caps_heavy presentation__caption">2016</div>

      <h2 class="heading_xl heading_heavy">The Dreamer</h2>

      <p class="paragraph_base paragraph_heavy presentation__paragraph">
        Nunc imperdiet at turpis sollicitudin vulputate velit. Commodo augue dolor ornare purus lobortis dui. 
        Nisl mollis sodales porta vitae nulla pharetra amet, duis. Rhoncus tincidunt sollicitudin et sed iaculis 
        senectus ornare sagittis. Est leo sed euismod id odio commodo consequat. Elit magna vitae ullamcorper 
        posuere sagittis, sed natoque. Eget eget vulputate porttitor massa porttitor egestas donec. Id tellus 
        parturient sit aliquam neque condimentum auctor.
      <p>
    </div>

    <div class="presentation__section divider_upper divider_lower presentation__divider">
      <div class="caps caps_heavy presentation__caption">2018</div>

      <h2 class="heading_xl heading_heavy">The Belivers</h2>

      <p class="paragraph_base paragraph_heavy presentation__paragraph">
        Imperdiet dui enim egestas aenean. Aenean imperdiet morbi tempor, a. 
        Urna senectus sit sit integer malesuada facilisi nullam neque. 
        Lorem laoreet maecenas in commodo morbi. Turpis hendrerit neque imperdiet aliquet arcu senectus sed.
      <p>
    </div>

    <div class="presentation__section divider_upper divider_lower presentation__divider">
      <div class="caps caps_heavy presentation__caption">2019</div>

      <h2 class="heading_xl heading_heavy">The Helpers</h2>

      <p class="paragraph_base paragraph_heavy presentation__paragraph">
        Mattis netus viverra egestas integer. Eu auctor proin a, sed. In sit feugiat pellentesque posuere amet. 
        Sit ut cursus iaculis urna, lectus. Vestibulum quis nibh lorem volutpat sagittis, egestas eros 
        pellentesque commodo. Ultrices cras massa faucibus mattis. Ut quam integer egestas vehicula. 
        Purus ornare quam vitae sit vestibulum, facilisi. Diam pulvinar diam netus cum turpis sit 
        vitae nisl. Quis quis amet, morbi nisi, eu dolor tincidunt. Vulputate pellentesque semper 
        sed aliquet at pretium. Viverra in diam proin velit hendrerit habitant.
    </div>

    <div class="presentation__section divider_upper divider_lower presentation__divider">
      <div class="caps caps_heavy">2020</div>

      <h2 class="heading_xl heading_heavy">The Present</h2>

      <p class="paragraph_base paragraph_heavy presentation__paragraph">
        Etiam dolor ac etiam sed in egestas elementum. Commodo est, dictum turpis 
        hac pulvinar volutpat. Feugiat vulputate nisi, sed ut sit cum facilisis. 
        Quis placerat et condimentum viverra imperdiet sem aliquam feugiat nibh. 
        Libero sit viverra condimentum commodo. Nibh quis nam eget justo nisi, dui. 
        Ut praesent id ipsum, nulla orci, sed ullamcorper. Sed semper a, iaculis 
        facilisi aliquam pulvinar dignissim enim. Justo, mattis quis netus sem purus 
        tincidunt nisi, leo tellus.
    </div>

    <div class="presentation__section divider_upper divider_lower presentation__divider">
      <div class="caps caps_heavy presentation__caption">tomorrow</div>

      <h2 class="heading_xl heading_heavy">The Future</h2>

      <p class="paragraph_base paragraph_heavy presentation__paragraph">
        Quis malesuada et quis egestas dignissim ante eu id. Posuere egestas non diam maecenas orci 
        imperdiet dignissim. Ac pellentesque amet enim mi dictum hac. Id habitant sagittis a odio elit 
        lectus ultrices. Netus quam elementum ac egestas praesent. Nisi, cras pellentesque nulla at 
        tristique nisi, a tempus. Arcu nec nec blandit lobortis neque neque risus dignissim libero. 
        Integer ac vel nisi at aliquet sed sagittis.
    </div>
  </section>

  <section class="offer wrapper">
    <div class="offer__container">
      <h2 class="heading_xl heading_heavy offer__heading">
        Become a part of our continuing story.
      </h2>

      <div class="offer__buttons">
        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Get involved
        </button>

        <button
          type="button"
          class="button button_medium button_primary button_ghost offer__button" 
        >
          Donate
        </button>
      </div>
    </div>
  </section>
{% endblock %}
   