.header {
  color: $neutral-2;
  text-align: center;
  background: $white;

  &__heading {
    text-transform: capitalize;
    color: $black;
  }

  &__underline {
    display: inline-block;
    padding: 0 1rem;
    border-bottom: 0.75rem solid $primary;
    line-height: 0.68;

    @media screen and (min-width: 576px) {
      line-height: 0.83;
    }

    @media screen and (min-width: 1200px) {
      line-height: 0.88;
    }
  }

  &__text {
    max-width: 41rem;
    margin: 0.75rem auto 0;
  }

  &_dark {
    background: $black;

    .header__heading {
      color: $white;
    }

    .header__text {
      color: #fffc;
    }
  }
}
