.avatar {
  display: inline-flex;
  align-items: center;
  position: relative;

  &__image {
    border-radius: 50%;
  }

  &__dropdown {
    margin-left: 0.25rem;
  }

  &__caption {
    margin-left: 0.5rem;
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__text {
    position: absolute;
    left: 18%;
    color: $white;
  }

  &_marked::after {
    @extend %indicator;
  }

  &_xs {
    &::after {
      width: 0.31rem;
      height: 0.31rem;
    }

    .avatar__image {
      width: 1.5rem;
      height: 1.5rem;
    }

    .avatar__caption {
      @include font-attributes(
        $font-size: $font-avatar-xs,
        $line-height: $heights-avatar-xs,
        $font-weight: $weight-avatar
      );
    }

    .avatar__dropdown {
      width: 1rem;
      height: 1rem;
    }
  }

  &_sm {
    &::after {
      width: 0.4rem;
      height: 0.4rem;
    }

    .avatar__image {
      width: 2rem;
      height: 2rem;
    }

    .avatar__caption {
      @include font-attributes(
        $font-size: $font-avatar-sm,
        $line-height: $heights-avatar-sm,
        $font-weight: $weight-avatar
      );
    }

    .avatar__dropdown {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &_md {
    .avatar__image {
      width: 2.5rem;
      height: 2.5rem;
    }

    .avatar__caption {
      @include font-attributes(
        $font-size: $font-avatar-md,
        $line-height: $heights-avatar-md,
        $font-weight:
        $weight-avatar
      );
    }
  }

  &_lg {
    &::after {
      width: 0.6rem;
      height: 0.6rem;
    }

    .avatar__caption {
      @include font-attributes(
        $font-size: $font-avatar-lg,
        $line-height: $heights-avatar-lg,
        $font-weight: $weight-avatar
      );
    }
  }
}
