.checkbox {
  width: fit-content;

  --checkbox-background: #{$primary};

  &__input {
    display: none;
  }

  &__icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid $primary-light-50;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    /* Checkbox unselected */

    &:hover {
      .checkbox__icon {
        border-color: $primary-hover;
      }
    }

    &:active {
      .checkbox__icon {
        border-color: $primary;
      }
    }
  }

  &__text {
    margin-left: 0.75rem;

    @include font-attributes(
      $font-size: $font-checkbox,
      $line-height: $heights-checkbox,
      $font-weight: $weight-checkbox
    );
  }

  &_disabled {
    pointer-events: none;
    cursor: not-allowed;

    --checkbox-background: #{$primary-light-50};
  }

  /* Checkbox selected */
  &_selected {
    .checkbox__label {
      .checkbox__icon {
        border-color: transparent;
        background: var(--checkbox-background);

        @include checkbox-background-icon($background-icon: check-icon);
      }

      &:hover {
        .checkbox__icon {
          border-color: transparent;
          background: $primary;

          @include checkbox-background-icon($background-icon: check-icon);
        }
      }

      &:active {
        .checkbox__icon {
          border-color: transparent;
          background: $primary;

          @include checkbox-background-icon($background-icon: check-icon);
        }
      }
    }
  }

  /* Checkbox indeterminate */
  &_indeterminate {
    .checkbox__label {
      .checkbox__icon {
        background-image: url("~../img/icons/minus-icon.svg");
      }

      &:hover {
        .checkbox__icon {
          background-image: url("~../img/icons/minus-icon.svg");
        }
      }

      &:active {
        .checkbox__icon {
          background-image: url("~../img/icons/minus-icon.svg");
        }
      }
    }
  }
}
