<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ page }}{% endblock %}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">

  <script src="js/main.js" defer></script>
</head>

<body>
  {% block content %}
    <h1>Limitless Theme</h1>
  {% endblock %}

  {% include '../partials/_footer.twig' %}
</body>
</html>
