.hero {
  padding-bottom: 2rem;
  background: $white;

  &__body {
    margin-top: 2.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 576px) {
      margin-top: 4rem;
    }

    @media screen and (min-width: 1085px) {
      flex-direction: row;
      padding: {
        left: 5rem;
        right: 0;
      }
    }
  }

  &__heading {
    text-align: center;

    @media screen and (min-width: 1085px) {
      text-align: left;
      letter-spacing: -1px;
    }
  }

  &__text {
    align-self: center;
    background: $white;
    margin-bottom: 4rem;
    z-index: 1;
    max-width: 52.8rem;

    @media screen and (min-width: 1085px) {
      margin-right: -7rem;
      padding: 5rem 7rem 5rem 0;
    }
  }

  &__caption {
    text-align: center;
    color: $primary;
    display: block;
    margin-bottom: 1rem;

    @media screen and (min-width: 1085px) {
      text-align: left;
    }
  }

  &__paragraph {
    margin: 1rem 0 2rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 576px) {
      align-items: flex-end;
      flex-direction: row;
    }

    @media screen and (min-width: 1085px) {
      justify-content: flex-start;
    }
  }

  &__button {
    margin-top: 2.5rem;
    width: 65%;
    white-space: nowrap;

    @media screen and (min-width: 576px) {
      width: auto;
      font-size: $font-buttons-xl;
      line-height: $heights-buttons-sm;
      padding: 1.06rem 1.31rem;
      margin-right: 2.5rem;
    }

    &:last-child {
      @media screen and (min-width: 576px) {
        margin-top: 0;
      }
    }
  }

  &__image {
    align-self: center;
    margin-bottom: 2.5rem;

    @media screen and (min-width: 576px) {
      margin-bottom: 4rem;
    }

    @media screen and (min-width: 1085px) {
      max-width: 63%;
    }
  }

  &__scroll {
    max-width: 54.8rem;
    margin: 0 auto;
    justify-content: center;

    @media screen and (min-width: 576px) {
      justify-content: flex-start;
    }

    @media screen and (min-width: 1085px) {
      max-width: 100%;
      padding-left: 5rem;
      margin-left: 0;
    }
  }

  &_illustrated {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: url("~../img/hero/hero-illustrated.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 1085px) and (max-width: 1440px) {
      height: calc(100vw / 1.6);
    }

    .hero__text {
      max-width: 69rem;
      padding: 0 1rem;
      margin: 3rem auto 0;
      background: transparent;
      text-align: center;
      color: $white;

      @media screen and (min-width: 1085px) {
        margin-top: auto;
      }

      @media screen and (min-width: 1440px) {
        margin-top: 25rem;
      }
    }

    .hero__caption {
      color: $white;
      text-align: center;

      @media screen and (min-width: 1085px) {
        margin-bottom: 0;
      }
    }

    .hero__buttons {
      justify-content: center;
    }

    .hero__scroll {
      margin-top: 3.13rem;

      padding: {
        left: 3.5rem;
        bottom: 3.5rem;
      }

      @media screen and (min-width: 576px) {
        margin: {
          left: 0;
          right: 0;
        }
      }
    }
  }

  &_tight {
    .hero__body {
      margin: {
        top: 2.2rem;
        bottom: 2.2rem;
      }

      @media screen and (min-width: 576px) {
        margin-bottom: 4.7rem;
      }
    }

    .hero__text {
      margin-bottom: 0;

      padding: {
        top: 2.5rem;
        bottom: 2.5rem;
      }

      @media screen and (min-width: 1085px) {
        padding-right: 8.5rem;
      }
    }

    .hero__image {
      margin-bottom: 0;
    }
  }

  &_reverse {
    .hero__body {
      flex-direction: column-reverse;

      @media screen and (min-width: 1085px) {
        flex-direction: row-reverse;

        padding: {
          left: 0;
          right: 9.5rem;
        }
      }
    }

    .hero__text {
      @media screen and (min-width: 1085px) {

        margin: {
          right: 0;
          left: -7rem;
        }

        padding: {
          left: 4rem;
          right: 0;
        }
      }
    }

    .hero__image {
      @media screen and (min-width: 1085px) {
        max-width: 70%;
      }
    }
  }

  &_cutted {
    .hero__body {
      @media screen and (min-width: 1085px) {
        margin-top: 2.2rem;
      }
    }

    .hero__text {
      @media screen and (min-width: 1085px) {
        padding-right: 5rem;
      }
    }
  }

  &_small {
    padding-bottom: 0;

    .hero__body {
      @extend %section-indent;

      max-width: 70rem;
      margin: 0 auto;

      padding: {
        left: 1rem;
        right: 1rem;
      }
    }

    .hero__text {
      text-align: center;
      max-width: 31.3rem;

      @media screen and (min-width: 1085px) {
        max-width: 100%;
        padding-left: 2.5rem;
        text-align: left;
      }
    }

    .hero__caption {
      color: $secondary;
      margin-bottom: 2.5rem;
    }

    .hero__button {
      margin-top: 2.5rem;
    }
  }
}
