.shop {
  max-width: 63.13rem;
  margin: 0 auto;
  padding: 2.5rem 1rem;

  @media screen and (min-width: 576px) {
    padding: {
      top: 4rem;
      bottom: 4rem;
    }
  }

  @media screen and (min-width: 1085px) {
    padding: {
      top: 8rem;
      bottom: 11rem;
    }
  }

  &__card {
    justify-content: space-between;
  }

  .shop__text {
    @media screen and (min-width: 576px) {
      max-width: 29.5rem;
      margin-bottom: 0;
    }
  }

  &__filter {
    margin-top: 2.3rem;
    text-align: center;

    &:first-of-type {
      margin-top: auto;
    }

    @media screen and (min-width: 576px) {
      text-align: left;
    }
  }

  &__parameter {
    display: inline-block;
    padding: 0.5rem 1rem 0.25rem;
    background: $neutral-9;
    border: 1px solid $neutral-9;
    cursor: pointer;

    margin: {
      top: 0.5rem;
      left: 1.5rem;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &_active {
      background: $secondary-light-10;
      border-color: $primary;
    }
  }

  &__container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 950px) {
      flex-direction: row;
    }
  }

  &__gallery {
    max-width: 19.12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem auto 0;

    @media screen and (min-width: 950px) {
      max-width: 18rem;
      margin: 0;
      align-items: flex-start;
    }
  }

  &__image {
    margin-left: 0.5rem;
    cursor: pointer;

    &:first-of-type {
      margin-left: 0;
    }

    &_active {
      border: 2px solid $primary;
      width: 5.13rem;
    }
  }

  &__buttons {
    margin: 1.5rem auto 0;
    display: flex;
    align-items: center;

    @media screen and (min-width: 950px) {
      margin: 3.9rem 0 0;
      max-width: 29.5rem;
      width: 100%;
    }

    .shop__parameter {
      margin-left: 0; /* На него не работает first of type, странно */
    }
  }

  &__button {
    margin-left: 1.75rem;

    @media screen and (min-width: 576px) {
      font-size: $font-buttons-xl;
      line-height: $heights-buttons-sm;
      padding: 1.06rem 1.31rem;
    }
  }
}
